body{
    font-family: "微軟正黑體";
    height: 100%; 
    margin: 0;
    padding: 0;
}
.title{
    font-weight: bolder;
    display: inline-block;
    font-size: 24px;
    padding: 20px;
}
.button{
    color: #cb897a;
    /* display: inline-block; */
    float: right;
    padding-right: 10%;
    padding: 20px;
}
.add{
    display: inline-block;
}
.edit{
    display: inline-block;
}

.section{
    display: inline-block;
    vertical-align: top;
    height: 100vh;
}
.list{
    display: inline-block;
    width: 20%;
    padding: 10px;
    font-size: 14px;
}
.song{
    width: 40%;
    background: #ebebeb;
}
.row_name{
    font-size: 12px;
    padding: 10px;
    color: gray;
}
.border{
    width: 80%;
    padding-left: 15%;
    border-bottom: 1px solid #9d9d9d;
    margin: 0 auto;
}
.song_name{
    display: inline-block;
    padding-left: 30px;
}
.song_player{
    display: inline-block;
    padding-left: 120px;
}
.length{
    display: inline-block;
    padding-left: 170px;
}
.row{
    padding: 10px;
    font-size: 13px;
}
.Song_name{
    display: inline-block;
    width: 32%;
    padding-left: 8%; 

}
.Song_player{
    display: inline-block;
    width: 40%;
}
.Length{
    display: inline-block;
}
.player{   
    width: 36%;
    background: #b09a61;
}

.bg_album{
  background-image: url("album.jpg");
  filter: blur(8px);
  -webkit-filter: blur(20px);
  height: 90%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.album{
    display: inline-block;
    position: absolute;
    width: 400px;
    height: 400px;	
    left: 67%;
    margin-top: -45%;
}
.timeline{
    position: absolute;
    width: 30%;
    height: 10px;
    background-color:#fffdd0;
    top: 62%;
    margin-left: 40px;
}
.timeline_now{
    position: absolute;
    width: 10%;
    height: 10px;
    background-color: #afa08a;
    top: 62%;
    margin-left: 40px;
}
.time_now{
    position: absolute;
    top: 64%;
    margin-left: 40px;
}
.time_all{
    position: absolute;
    top: 64%;
    margin-left: 31%;
}
.information{
    position: absolute;
    top: 68%;
    margin-left: 12%;
    font-size: 30px;
    color: white;
}
.play_button{
    position: absolute;
    display: inline-block;
    top: 75%;
    margin-left: 6.5%;
    color: white;
    font-size: 50px;
}

.button1{
    display: inline-block;
    margin-left: 50px;
}
.button2{
    display: inline-block;
    margin-left: 50px;
}
.button3{
    display: inline-block;
    margin-left: 50px;
}
.setting_button{
    position: absolute;
    display: inline-block;
    top: 75%;
    margin-left: 6.5%;
    color: white;
    font-size: 50px;
}